@import "tailwindcss/preflight";
/* replaces @tailwind base */
@tailwind utilities;

@import "@fontsource/orbitron";

.text-shadow-green {
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #000;
  color: #00FF9F;
}

.input {
  background: #1f1f1f;
  color: white;
  padding: 0.5rem;
  border: 1px solid #333;
  width: 100%;
  border-radius: 4px;
}

.btn {
  background: #00ff88;
  padding: 0.5rem 1rem;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}